{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <div class="container">
        <div class="register-card">
          <h2 class="register-title">Login</h2>
          {%for message in messages%}
                {{message}}
            {% endfor %}

          <form method="POST" action="{% url 'gemini_app:login' %}" enctype="multipart/form-data" class="register-form">
            {% csrf_token %}
            {{form.as_p}}
            {% comment %} <div class="form-group">
                <label class="form-label" name="username">username</label>
                <div class="form-input-wrapper">
                  {{form.username}}
                  <div class="form-input-icon">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
              </div>


            <div class="form-group">
              <label class="form-label" name="first_name">First Name</label>
              <div class="form-input-wrapper">
                {{form.first_name}}
                <div class="form-input-icon">
                  <i class="fas fa-lock"></i>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" name="last_name">Last Name</label>
              <div class="form-input-wrapper">
                {{form.last_name}}
                <div class="form-input-icon">
                  <i class="fas fa-lock"></i>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="form-label" name="email">Email</label>
              <div class="form-input-wrapper">
                {{form.email}}
                <div class="form-input-icon">
                  <i class="fas fa-lock"></i>
                </div>
              </div>
            </div>


          <div class="form-group">
          <label class="form-label" name="password1">password</label>
          <div class="form-input-wrapper">
            {{form.password1}}
            <div class="form-input-icon">
              <i class="fas fa-lock"></i>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" name="password2">Conform Password</label>
          <div class="form-input-wrapper">
            {{form.password2}}
            <div class="form-input-icon">
              <i class="fas fa-lock"></i>
            </div>
          </div>
        </div> {% endcomment %}

            
            <button type="submit" class="register-btn">Register</button>
            <span>Don`t have an Account? <a href= "{% url 'gemini_app:register' %}">Sing Up</a></span>
          </form>
        </div>
      </div>
      
</body>
</html>
