{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
  <div class="container">
    <div class="register-card">
      <h2 class="register-title">Register</h2>
      {% for message in messages %}
        {{ message }}
      {% endfor %}

      <form method="POST" action="{% url 'gemini_app:register' %}" enctype="multipart/form-data" class="register-form">
        {% csrf_token %}
        
        <div class="form-group">
          <label class="form-label" for="username">Username</label>
          <div class="form-input-wrapper">
            {{ form.username }}
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="first_name">First Name</label>
          <div class="form-input-wrapper">
            {{ form.first_name }}
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="last_name">Last Name</label>
          <div class="form-input-wrapper">
            {{ form.last_name }}
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <div class="form-input-wrapper">
            {{ form.email }}
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="password1">Password</label>
          <div class="form-input-wrapper">
            {{ form.password1 }}
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="password2">Confirm Password</label>
          <div class="form-input-wrapper">
            {{ form.password2 }}
          </div>
        </div>

        <button type="submit" class="register-btn">Register</button>
        <span>Already have an Account? <a href="{% url 'gemini_app:login' %}">Sign In</a></span>
      </form>
    </div>
</div>

      
</body>
</html>
